<a href="https://colab.research.google.com/github/AbisolaOlakanmi/deep-learning-challenge/blob/main/AlphabethSoupCity_Optimization_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [25]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.callbacks import ModelCheckpoint

In [26]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"],axis=1)

In [28]:
# Look at SPECIAL_CONSIDERATIONS value counts for binning
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [29]:
#  Look at STATUS value counts for binning
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [30]:
# dropping off some colums
application_df.drop(["SPECIAL_CONSIDERATIONS","STATUS"], axis=1, inplace=True)

In [31]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [32]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [33]:
# Look at APPLICATION_TYPE value counts for binning
applications_unique= application_df["APPLICATION_TYPE"].value_counts()
applications_unique

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [34]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(applications_unique[applications_unique <= 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [35]:
# Look at CLASSIFICATION value counts for binning
classifications_unique = application_df["CLASSIFICATION"].value_counts()
classifications_unique

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [36]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_unique[classifications_unique > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [37]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications_unique[classifications_unique < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [39]:
# Split our preprocessed data into our features and target arrays
from sklearn.model_selection import train_test_split
y = application_with_dummies_df['IS_SUCCESSFUL'].values
X = application_with_dummies_df.drop(columns=['IS_SUCCESSFUL'], axis='columns').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [40]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3280

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,741
Trainable params: 5,741
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7245
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7311
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7315
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7325
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7331
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7338
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7330
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7351
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7360
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7359
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7361
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7373
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7369
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7387
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7379
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7379
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7383
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7378
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7385
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7381
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7389
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7395
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7396
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7391
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7388
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7395
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7386
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7398
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7395
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7405
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7401
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7393
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7402
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7397
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7400
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7402
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7407
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7402
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7400
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7402
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7404
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7397
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7405
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7403
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7398
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7405
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7403
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7401
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7400
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7401
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7407
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7406
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7407
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7407
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7409
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7409
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7409
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7407
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7404

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5576 - accuracy: 0.7255 - 418ms/epoch - 2ms/step
Loss: 0.5576484203338623, Accuracy: 0.7254810333251953

In [45]:

# Export our model to HDF5 file
nn.save("AlphabetSoupCharity3.h5")