<a href="https://colab.research.google.com/github/AbisolaOlakanmi/deep-learning-challenge/blob/main/AlphabethSoupCity_Optimization_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from keras.callbacks import ModelCheckpoint
from tensorflow.keras.models import save_model

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"],axis=1)

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
applications_unique= application_df["APPLICATION_TYPE"].value_counts()
applications_unique

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(applications_unique[applications_unique <= 1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_unique[classifications_unique > 1]

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [46]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_unique[classifications_unique > 1]

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [47]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1850    #replace types with count less than 1850
classifications_to_replace = []

#get list of all classification values
cut_vals = list(application_df['CLASSIFICATION'].unique())
for cut in cut_vals:
  #get classification values below the cut off
  if (application_df['CLASSIFICATION'].value_counts()[cut] < cutoff_value):
    classifications_to_replace.append(cut)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [48]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_df = pd.get_dummies(application_df)
categorical_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [49]:
# Split our preprocessed data into our features and target arrays
# Separate the y variable, the labels
y = categorical_df["IS_SUCCESSFUL"].values.reshape(-1, 1)

# Separate the X variable, the features
X = categorical_df.copy()
X.drop("IS_SUCCESSFUL", axis=1, inplace=True)

In [50]:
# Review the X variable DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,1,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [51]:
# Review the y variable Series
y[:5]

array([[1],
       [1],
       [0],
       [1],
       [1]])

In [52]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)

In [53]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [54]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 8)                 328

 dense_10 (Dense)            (None, 5)                 45

 dense_11 (Dense)            (None, 1)                 6

=================================================================
Total params: 379
Trainable params: 379
Non-trainable params: 0
_________________________________________________________________

In [55]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [56]:
#Add callback to save for every 5 epochs

checkpoint = ModelCheckpoint("model_weights5.h5", monitor='accuracy', verbose=1,
    save_weights_only=True, mode='auto', period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [57]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100,callbacks=[checkpoint])

Epoch 1/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5777 - accuracy: 0.7154
Epoch 2/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7263
Epoch 3/100
751/751 [==============================] - 3s 4ms/step - loss: 0.5597 - accuracy: 0.7261
Epoch 4/100
751/751 [==============================] - 4s 6ms/step - loss: 0.5575 - accuracy: 0.7272
Epoch 5/100
746/751 [============================>.] - ETA: 0s - loss: 0.5569 - accuracy: 0.7285
Epoch 5: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7286
Epoch 6/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7296
Epoch 7/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7284
Epoch 8/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7298
Epoch 9/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7309
Epoch 10/100
723/751 [===========================>..] - ETA: 0s - loss: 0.5518 - accuracy: 0.7320
Epoch 10: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7308
Epoch 11/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7301
Epoch 12/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7300
Epoch 13/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7312
Epoch 14/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7309
Epoch 15/100
727/751 [============================>.] - ETA: 0s - loss: 0.5494 - accuracy: 0.7318
Epoch 15: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7304
Epoch 16/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7321
Epoch 17/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7312
Epoch 18/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7329
Epoch 19/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7323
Epoch 20/100
737/751 [============================>.] - ETA: 0s - loss: 0.5498 - accuracy: 0.7321
Epoch 20: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7321
Epoch 21/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7330
Epoch 22/100
751/751 [==============================] - 3s 3ms/step - loss: 0.5492 - accuracy: 0.7330
Epoch 23/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5487 - accuracy: 0.7332
Epoch 24/100
751/751 [==============================] - 3s 4ms/step - loss: 0.5488 - accuracy: 0.7346
Epoch 25/100
744/751 [============================>.] - ETA: 0s - loss: 0.5481 - accuracy: 0.7335
Epoch 25: saving model to model_weights5.h5
751/751 [==============================] - 3s 4ms/step - loss: 0.5481 - accuracy: 0.7335
Epoch 26/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7334
Epoch 27/100
751/751 [==============================] - 4s 5ms/step - loss: 0.5479 - accuracy: 0.7335
Epoch 28/100
751/751 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7338
Epoch 29/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7337
Epoch 30/100
745/751 [============================>.] - ETA: 0s - loss: 0.5474 - accuracy: 0.7345
Epoch 30: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7342
Epoch 31/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7342
Epoch 32/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7353
Epoch 33/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7341
Epoch 34/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7352
Epoch 35/100
743/751 [============================>.] - ETA: 0s - loss: 0.5465 - accuracy: 0.7341
Epoch 35: saving model to model_weights5.h5
751/751 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7341
Epoch 36/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7348
Epoch 37/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7347
Epoch 38/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7346
Epoch 39/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7352
Epoch 40/100
725/751 [===========================>..] - ETA: 0s - loss: 0.5445 - accuracy: 0.7361
Epoch 40: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 41/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7354
Epoch 42/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7351
Epoch 43/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7352
Epoch 44/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7358
Epoch 45/100
732/751 [============================>.] - ETA: 0s - loss: 0.5446 - accuracy: 0.7360
Epoch 45: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 46/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 47/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7349
Epoch 48/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 49/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7352
Epoch 50/100
748/751 [============================>.] - ETA: 0s - loss: 0.5444 - accuracy: 0.7358
Epoch 50: saving model to model_weights5.h5
751/751 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7356
Epoch 51/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7364
Epoch 52/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7360
Epoch 53/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7354
Epoch 54/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7367
Epoch 55/100
727/751 [============================>.] - ETA: 0s - loss: 0.5440 - accuracy: 0.7356
Epoch 55: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7355
Epoch 56/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7353
Epoch 57/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7363
Epoch 58/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 59/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7367
Epoch 60/100
750/751 [============================>.] - ETA: 0s - loss: 0.5441 - accuracy: 0.7361
Epoch 60: saving model to model_weights5.h5
751/751 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7361
Epoch 61/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7352
Epoch 62/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 63/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7353
Epoch 64/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7358
Epoch 65/100
732/751 [============================>.] - ETA: 0s - loss: 0.5430 - accuracy: 0.7368
Epoch 65: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7368
Epoch 66/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7363
Epoch 67/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7365
Epoch 68/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 69/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7366
Epoch 70/100
734/751 [============================>.] - ETA: 0s - loss: 0.5429 - accuracy: 0.7359
Epoch 70: saving model to model_weights5.h5
751/751 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7356
Epoch 71/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 72/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7366
Epoch 73/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7370
Epoch 74/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 75/100
741/751 [============================>.] - ETA: 0s - loss: 0.5423 - accuracy: 0.7363
Epoch 75: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 76/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 77/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 78/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 79/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7373
Epoch 80/100
728/751 [============================>.] - ETA: 0s - loss: 0.5439 - accuracy: 0.7353
Epoch 80: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 81/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7368
Epoch 82/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 83/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7361
Epoch 84/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 85/100
728/751 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7358
Epoch 85: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7359
Epoch 86/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 87/100
751/751 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7372
Epoch 88/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 89/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 90/100
732/751 [============================>.] - ETA: 0s - loss: 0.5416 - accuracy: 0.7374
Epoch 90: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7368
Epoch 91/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7363
Epoch 92/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7371
Epoch 93/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 94/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7360
Epoch 95/100
733/751 [============================>.] - ETA: 0s - loss: 0.5419 - accuracy: 0.7368
Epoch 95: saving model to model_weights5.h5
751/751 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7375
Epoch 96/100
751/751 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7368
Epoch 97/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 98/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 99/100
751/751 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 100/100
741/751 [============================>.] - ETA: 0s - loss: 0.5405 - accuracy: 0.7384
Epoch 100: saving model to model_weights5.h5
751/751 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7378

In [60]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - loss: 0.6923 - accuracy: 0.6350 - 717ms/epoch - 2ms/step
Loss: 0.6922951340675354, Accuracy: 0.6349854469299316

In [62]:
# Export our model to HDF5 file
nn.save("Output/AlphabethSoupCharity_2.h5")